@charset "utf-8";

body {
    font-family: 'Kaisei Decol', serif;
    margin:50px;
}

ul li{
    list-style:none;
}

header{
    display:flex;
    align-items:center;
}

h1{
    margin-right: 50px;
}

a{
    text-decoration:none;
    color:#000;
    margin-right: 25px;
}

h2{
    text-align:center;
    margin:50px 0 50px;
}

ul{
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}


li{
    width:50%;
    margin-bottom: 50px;
}

