---
title: 爆音倶楽部
layout: layout.njk
cssPath: css/
scriptPath: js/
---
<head>
   
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@700&family=Kaisei+Opti:wght@400;500;700&family=Reggae+One&family=Roboto+Condensed:ital,wght@1,300&family=Stick&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>{{ title }}</h1>
    <a href="">home</a>
    <a href="">about</a>
</header>
<main>
<h2>アイテム</h2>
{{ product.name | log }}
<ul>
{% for product in goods %}

	<li class="list">
        <a href="https://momokaaa.parasite.jp/_site//article/{{ product.url }}">
        <img src="./images/{{ product.itemphotos[0] }}">
        <p>{{ product.name }}</p>
        <p>{{ product.price }}</p>
        <p class="state">{{ product.state }}</p>
        </a>
        </li>
	{% endfor %}
<ul>
</main>
<div class="more">
<a class="btn" href="#">more</a>
</div>
<footer>
<small>© 2022 BAKUON CLUB</small>
</footer>
<script src="js/script.js"></script>
</body>
<script>
    {{ product in goods[9] }}
</script>